* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

#categories {
  /* Typography */
  font-family: "Montserrat", sans-serif;
  color: #2e2f42;
  letter-spacing: 0.04em;

  /* Layout */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  margin: 0 auto;

  .item {

    /* Layout */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 16px;
    width: 392px;
    background: #f6f6fe;

    ul {
      /* Typography */

      font-weight: 600;
      font-size: 24px;
      line-height: 1.33;

      /* Layout */
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 8px;
      width: 360px;

      li {
        /* Typography */
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;

        /* Layout */
        border: 1px solid #808080;
        border-radius: 4px;
        width: 360px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }

}

.gallery {
  /* Layout */
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 16px;
}

.gallery-item {
  width: 360px;
  height: 300px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #2e2f42;
  }

  &:hover,
  &:focus {
    border: 1px solid #000;
  }

  &:active {
    border: 1px solid #808080;
  }
}

.widget {
  /* Typography */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.change-color {
  /* Typography */
  font-weight: 500;
  color: #fff;
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  border: none;

  &:hover {
    background-color: #6c8cff;
  }
}

#controls {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background: #f6f6fe;
  margin: 0 auto;

  input {
    width: 150px;
  }

  button {
    /* Typography */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    border: none;
  }


  button:nth-of-type(1) {
    background-color: #4e75ff;

    &:hover {
      background-color: #6c8cff;
    }
  }

  button:nth-of-type(2) {
    background-color: #ff4e4e;

    &:hover {
      background-color: #ff7070;
    }
  }
}

#boxes {
  display: flex;
}